line.baseline {
    stroke: #000;
    stroke-width: 2px;
}

line.triangleline {
    stroke: #777;
    stroke-width: 1px;
}

circle {
    opacity: .5;
}

circle.point {
    fill: #000;
}

circle.circle {
    fill: #050;
}

.calculated {
    fill: #f00;
    stroke: #f00;
}

div.tooltip {
    padding: 1px 3px 1px 3px;
    border-radius: 4px;
    background-color: rgba(200, 200, 200, 1);
    position: absolute;
    color: #2d2d2d;
}